/* 040401 */
/* .wrap {
    display: grid;
    grid-template-columns: 50% 50%;
}

.product {
    background-color: aqua;
} */

/* 040402 */
/* .wrap {
    display: grid;
    grid-template-columns: 25% 25%;
}

.product {
    background-color: aqua;
} */

/* 040403 */
/* .wrap {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.content {
     background-color: aqua;
} */

/* 040404 */
/* .wrap {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
}

.content {
     background-color: aqua;
} */

/* 040405 */
/* body {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-column-gap: 20px;
}

.column {
    background-color: aqua;
} */


/* 040406 */
/* .wrap {
    display: grid;
    grid-template-columns: 7fr 6fr 5fr 4fr 3fr 2fr 1fr;
    grid-column-gap: 20px;
    height:80px;
}

.box {
    background-color: rgb(8, 8, 172);
    color: white;
} */

/* 040407 */
/* body {
    margin:0;
}
.layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: salmon;
    height: 100vh;
    width: 100vw;
}

.content {
    background-color: rgb(44, 38, 25);
} */



/* 040408 */
/* body {
    margin:0;
}
.layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: salmon;
    height: 100vh;
    width: 100vw;

}

.content {
    background-color: rgb(44, 38, 25);
    padding: 20px;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 20px;s
}

.box {
    background-color: white;
    height: 140px;
} */

/* 040409 */
body {
    margin:0;
}


.layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: salmon;
    height: 100vh;
    width: 100vw;
}

.content {
    background-color: rgb(44, 38, 25);
    padding: 20px;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 20px;
}

div {
    font-size: 20px;
}

.box {
    background-color: white;
    height: 140px;
}

.header {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px auto;
    background-color: rgb(21, 85, 80);
    grid-column-gap: 10px;
    width: 100vw;
    height: 50px;
    padding: 6px;
    box-sizing: border-box;
}

.search {
    background-color: blanchedalmond;
    height: 90%;
}
