/* 040501 */

/* body {
	background-color: rgb(233, 228, 206);
	margin: 0;
} */

/*
.beach {
	width: 100vw;
	height: 100vh;
	background-image: url("https://cdn.pixabay.com/photo/2016/11/14/22/18/beach-1824855__340.jpg");
	background-repeat: no-repeat;
} */

/* 040502 */

.box {
	width: 100vw;
	height: 100vh;
	background-image: url("img/tropical.jpg");
	background-size: 30%;
}

/* 040503 */

/* div {
	background-color: red;
	opacity: 0.5;
	width: 100vw;
	height: 100vh;
} */

/* 040504 */
body {
	background-color: white;
	margin: 0;
	/* display: grid;
	grid-template-columns: 3fr 3fr 3fr; */
	position: relative;
	/* grid-column-gap: 20px; */
}

div {
	/* width: 40vw;
	height: 40vh; */
	background-image: url("img/forest.jpg");
	/* background-size: 30%; */
	background-repeat: no-repeat;
}

.a {
	position:absolute;
	height: 70vh;
	width: 35vw;
	left: 0px;
	bottom: 0px; 
	background-position: left bottom;
	background-size: cover;

}


.b {
	position: relative;
	width: 12vw;
	height: 100vh;
	left: calc(50% - 130px);
	background-position:center;
	/* margin-left: auto;
	margin-right: auto; */
}

.c {
	position:absolute;
	height: 20vh;
	width: 40vw;
	right: 0px;
	bottom: 0px; 
	background-position:right center;
}