/* 040801 */
/* 
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

small {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
} */

/* 040802 */
/* body {
    font-family: 'Lato', Arial, sans-serif;
} */

/* 040803 */
div {
    border:  1px solid black;
    padding: 25px 50px 60px 50px;
    box-sizing: content-box;
    font-family: 'Open-Sans', sans-serif;
    width: 580px;
    height: 400px;

}

h1 {
    font-size: 46px;
    font-family: 'Roboto Slab', serif;
}

p {
    font-size: 30px;
}

small {
    color: gray;
    font-size: 20px;
    font-weight: normal;
}

a {
    font-size: 23px;
    color: #ff6348;
    font-weight: bold;
    font-family: 'Lato', Arial, sans-serif;
}