/* 040801 */
/* 
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

small {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
} */

/* 040802 */
body {
    font-family: 'Lato', Arial, sans-serif;
}