/* 041401 */

/* .products {
    display: grid;
}

@media (max-width: 400px) {
    .products {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1001px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
} */

/* 041402 */
body {
    display: grid;
    justify-content: center;
}

.logo {
    margin-top: 100px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    text-align: center;
}

@media (min-width: 501px) and (max-width: 900px) {
    .logo {
        background-color: black;
        color:white;
        padding: 10px;
    }
}

@media (min-width: 901px) {
    .logo {
        border: 0.5px solid black;
        border-radius: 100%;
        width: 200px;
        height: 200px;
        align-content: center;
    }
}
